langchain
numpy
pandas
openai
whisper
ipykernel
python-dotenv
langchain_openai
langchain_core
langchain_community
pypdf
langchain_text_splitters
faiss-cpu
streamlit
googletrans
datasets
torch==1.13.1
librosa
transformers==4.28.0
accelerate>=0.26.0
pydub
